{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Django test page</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'js/sample.js' %}"></script>
    </head>
    <body>
        <h1 id="title">Django test page</h1>
        <button type="button" id="click">Click here</button>

        <h2>PostgreSQL</h2>
        {% for access_time_str_rdb in access_time_str_list_rdb %}
        <p>{{ access_time_str_rdb }}</p>
        {% endfor %}
        <div>
        <a id="save_rdb" href="{% url 'save_rdb' %}">Save to PostgreSQL</a>
        </div>

    </body>
</html>
